/node_modules

# Ignorar TODOS los "Temas" dentro de resources/<asignatura>/Temas
# Ignora TODO lo que haya dentro de resources/<asignatura>/Temas
/resources/**/Temas/**

# ...pero NO ignores el index.json de cada Temas
!/resources/**/Temas/index.json

vite.config.ts.timestamp*